{% block main %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    {% if admin %}
    <h1>{{admin}}</h1>
    {% endif %}
    <h1>Hello you are logged in.</h1>

    <form method="post" action="/dashboard">
        <input type="submit" value="VALUE1" name="action1"/>
        <input type="submit" value="VALUE2" name="action2" />
    </form>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>

</html>

{% endblock %}